<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>questionId</key>
		<integer>1</integer>
		<key>questionText</key>
		<string>question 1 text</string>
		<key>infoText</key>
		<string>info text for q 1</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>2</integer>
		<key>questionText</key>
		<string>question 2 text</string>
		<key>infoText</key>
		<string>info text for q2</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>3</integer>
		<key>questionText</key>
		<string>question 3 text</string>
		<key>infoText</key>
		<string>info text for q3</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>4</integer>
		<key>questionText</key>
		<string>question 4 text</string>
		<key>infoText</key>
		<string>info text for q4</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>5</integer>
		<key>questionText</key>
		<string>question 5 text</string>
		<key>infoText</key>
		<string>info text for q5</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>6</integer>
		<key>questionText</key>
		<string>question 6 text</string>
		<key>infoText</key>
		<string>info text for q6</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>8</integer>
		<key>questionText</key>
		<string>question 8 text</string>
		<key>infoText</key>
		<string>info text for 8</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>9</integer>
		<key>questionText</key>
		<string>question 9 text</string>
		<key>infoText</key>
		<string>info text for 9</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>10</integer>
		<key>questionText</key>
		<string>question 10 text</string>
		<key>infoText</key>
		<string>info text for 10</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>11</integer>
		<key>questionText</key>
		<string>question 11 text</string>
		<key>infoText</key>
		<string>info text for 11</string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>12</integer>
		<key>questionText</key>
		<string>question 12 text</string>
		<key>infoText</key>
		<string>info text for 12 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>13</integer>
		<key>questionText</key>
		<string>question 13 text</string>
		<key>infoText</key>
		<string>info text for 13 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>14</integer>
		<key>questionText</key>
		<string>question 14 text</string>
		<key>infoText</key>
		<string>info text for 14 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>15</integer>
		<key>questionText</key>
		<string>question 15 text </string>
		<key>infoText</key>
		<string>info text for 15</string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>16</integer>
		<key>questionText</key>
		<string>question 16 text</string>
		<key>infoText</key>
		<string>info text for 16 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>17</integer>
		<key>questionText</key>
		<string>question 17 text</string>
		<key>infoText</key>
		<string>info text for q17</string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>18</integer>
		<key>questionText</key>
		<string>question 18 text</string>
		<key>infoText</key>
		<string>info text for 18 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>19</integer>
		<key>questionText</key>
		<string>question 19 text</string>
		<key>infoText</key>
		<string>info text for 19</string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>20</integer>
		<key>questionText</key>
		<string>question 20 text</string>
		<key>infoText</key>
		<string>info text for 20 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>21</integer>
		<key>questionText</key>
		<string>question 21 text</string>
		<key>infoText</key>
		<string>info text for 21 </string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>22</integer>
		<key>questionText</key>
		<string>question 22 text</string>
		<key>infoText</key>
		<string>info text for 22 </string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>23</integer>
		<key>questionText</key>
		<string>question 23 text</string>
		<key>infoText</key>
		<string>info text for 23 </string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>24</integer>
		<key>questionText</key>
		<string>question 24 text</string>
		<key>infoText</key>
		<string>info text for 24 </string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>25</integer>
		<key>questionText</key>
		<string>question 25 text</string>
		<key>infoText</key>
		<string>info text for 25</string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>26</integer>
		<key>questionText</key>
		<string>question 26 text</string>
		<key>infoText</key>
		<string>info text for 26</string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>27</integer>
		<key>questionText</key>
		<string>question 27 text</string>
		<key>infoText</key>
		<string>info text for 27</string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>28</integer>
		<key>questionText</key>
		<string>question 28 text</string>
		<key>infoText</key>
		<string>info text for 28</string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>29</integer>
		<key>questionText</key>
		<string>question 29 text</string>
		<key>infoText</key>
		<string>info text for 29 </string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>30</integer>
		<key>questionText</key>
		<string>question 30 text</string>
		<key>infoText</key>
		<string>info text for 30</string>
		<key>difficultyLevel</key>
		<integer>3</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>31</integer>
		<key>questionText</key>
		<string>question 31 text</string>
		<key>infoText</key>
		<string>info text for 31 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>32</integer>
		<key>questionText</key>
		<string>question 32 text</string>
		<key>infoText</key>
		<string>info text for 32 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>33</integer>
		<key>questionText</key>
		<string>question 33 text</string>
		<key>infoText</key>
		<string>info text for 33</string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>34</integer>
		<key>questionText</key>
		<string>question 34 text</string>
		<key>infoText</key>
		<string>info text for 34 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>35</integer>
		<key>questionText</key>
		<string>question 35 text</string>
		<key>infoText</key>
		<string>info text for 35 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>36</integer>
		<key>questionText</key>
		<string>question 36 text</string>
		<key>infoText</key>
		<string>info text for 36 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>37</integer>
		<key>questionText</key>
		<string>question 37 text</string>
		<key>infoText</key>
		<string>info text for q37</string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>38</integer>
		<key>questionText</key>
		<string>question 38 text</string>
		<key>infoText</key>
		<string>info text for 38</string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>39</integer>
		<key>questionText</key>
		<string>question 39 text</string>
		<key>infoText</key>
		<string>info text for 39 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>40</integer>
		<key>questionText</key>
		<string>question 40 text</string>
		<key>infoText</key>
		<string>info text for 40 </string>
		<key>difficultyLevel</key>
		<integer>4</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>41</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>42</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>43</integer>
		<key>questionText</key>
		<string>question 43 text</string>
		<key>infoText</key>
		<string>info text for 43</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>44</integer>
		<key>questionText</key>
		<string>question 44 text</string>
		<key>infoText</key>
		<string>info text for q44</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>45</integer>
		<key>questionText</key>
		<string>question 45 text</string>
		<key>infoText</key>
		<string>info text for q45</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>46</integer>
		<key>questionText</key>
		<string>question 46 text</string>
		<key>infoText</key>
		<string>info text for q46</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>47</integer>
		<key>questionText</key>
		<string>question 47 text</string>
		<key>infoText</key>
		<string>info text for q47</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>48</integer>
		<key>questionText</key>
		<string>question 48 text</string>
		<key>infoText</key>
		<string>info text for q48</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>49</integer>
		<key>questionText</key>
		<string>question 49 text</string>
		<key>infoText</key>
		<string>info text for q49</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>50</integer>
		<key>questionText</key>
		<string>question 50 text</string>
		<key>infoText</key>
		<string>info text for q50</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	
</array>
</plist>
