<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>questionId</key>
		<integer>1</integer>
		<key>questionText</key>
		<string>question 1 text</string>
		<key>infoText</key>
		<string>info text for q 1</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>2</integer>
		<key>questionText</key>
		<string>question 2 text</string>
		<key>infoText</key>
		<string>info text for q2</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>3</integer>
		<key>questionText</key>
		<string>question 3 text</string>
		<key>infoText</key>
		<string>info text for q3</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>4</integer>
		<key>questionText</key>
		<string>question 4 text</string>
		<key>infoText</key>
		<string>info text for q4</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>5</integer>
		<key>questionText</key>
		<string>question 5 text</string>
		<key>infoText</key>
		<string>info text for q5</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>6</integer>
		<key>questionText</key>
		<string>question 6 text</string>
		<key>infoText</key>
		<string>info text for q6</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>8</integer>
		<key>questionText</key>
		<string>question 8 text</string>
		<key>infoText</key>
		<string>info text for 8</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>9</integer>
		<key>questionText</key>
		<string>question 9 text</string>
		<key>infoText</key>
		<string>info text for 9</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>10</integer>
		<key>questionText</key>
		<string>question 10 text</string>
		<key>infoText</key>
		<string>info text for 10</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>11</integer>
		<key>questionText</key>
		<string>question 11 text</string>
		<key>infoText</key>
		<string>info text for 11</string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>12</integer>
		<key>questionText</key>
		<string>question 12 text</string>
		<key>infoText</key>
		<string>info text for 12 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>13</integer>
		<key>questionText</key>
		<string>question 13 text</string>
		<key>infoText</key>
		<string>info text for 13 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>14</integer>
		<key>questionText</key>
		<string>question 14 text</string>
		<key>infoText</key>
		<string>info text for 14 </string>
		<key>difficultyLevel</key>
		<integer>2</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>7</integer>
		<key>questionText</key>
		<string>question 7 text</string>
		<key>infoText</key>
		<string>info text for q7</string>
		<key>difficultyLevel</key>
		<integer>1</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>44</integer>
		<key>questionText</key>
		<string>question 44 text</string>
		<key>infoText</key>
		<string>info text for q44</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>45</integer>
		<key>questionText</key>
		<string>question 45 text</string>
		<key>infoText</key>
		<string>info text for q45</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>46</integer>
		<key>questionText</key>
		<string>question 46 text</string>
		<key>infoText</key>
		<string>info text for q46</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>47</integer>
		<key>questionText</key>
		<string>question 47 text</string>
		<key>infoText</key>
		<string>info text for q47</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>48</integer>
		<key>questionText</key>
		<string>question 48 text</string>
		<key>infoText</key>
		<string>info text for q48</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>49</integer>
		<key>questionText</key>
		<string>question 49 text</string>
		<key>infoText</key>
		<string>info text for q49</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
	<dict>
		<key>questionId</key>
		<integer>50</integer>
		<key>questionText</key>
		<string>question 50 text</string>
		<key>infoText</key>
		<string>info text for q50</string>
		<key>difficultyLevel</key>
		<integer>5</integer>
		<key>rightAnswerIndex</key>
		<integer>0</integer>
		<key>answers</key>
		<array>
			<string>rightAnswer</string>
			<string>answer</string>
			<string>answer</string>
			<string>answer</string>
		</array>
	</dict>
</array>
</plist>
